<?php
//$news = $this->getNewsCollection(); из блока
//$newsViewUrl = Mage::getUrl('news/index/view');
?>
<h1>Custom Cms</h1>
<?php //foreach ($news as $item): ?>
<!--    <h2>
        <a href="<?php //echo $newsViewUrl; ?>?id=<?php //echo $item->getId(); ?>">
            <?php //echo $item->getTitle(); ?>
        </a>
    </h2>-->
<?php //endforeach; ?>